<!doctype html>
<html lang='en'>
        <head>
                <title>Squirrel Tracker</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
        <body>
<style>
      body{
        padding-top: 50px;
      }
</style>
                <p>
                <h1 style=font-size:30px class='text-center'>Welcome to the Central Park Squirrel Tracker</h1>
                <div align='center'>
                        <br>
                        <br>
                        <a href="/sightings/" class="btn btn-primary btn-lg" role="button" aria-pressed="true"><strong>Squirrel Sightings</strong></a>
                        <a href="/sightings/stats" class="btn btn-primary btn-lg" role="button" aria-pressed="true"><strong>Sighting Statistics</strong></a>
                        <a href="/map/" class="btn btn-primary btn-lg" role="button" aria-pressed="true"><strong>Mapped Squirrels</strong></a>
                <br>
		<br>
                <img src="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2020/04/1862/1048/276650b7-nutty-shopper-t-501069.jpg?ve=1&tl=1" style="width:700px" class="rounded" alt="..." class="center" >
                <br>
		<br>
                <a href="https://www.nycgovparks.org/programs/rangers/wildlife-management/squirrels" class="btn btn-primary btn-lg" role="button" aria-pressed="true"><strong>Squirrels in NYC Parks</strong></a>
                </div>
                </p>
                <br>
                <div style=font-size:12px, align = 'right'>
                        Image by Eyesplash Photography on Flickr</a>
                </div>
        </body>
</html>
